{% extends 'base.html.twig' %}
{% block body %}


<div class="card card-side shadow-xl  m-20 bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900">
<figure><img src="{{post.image}}" alt="post"/></figure>

<div class="card-body bg-zinc-200 rounded-xl m-20 text-red-500">

<h2 class="card-title text-red-500  font-bold uppercase">{{post.title}}</h2>

<p>Realisateur:<br> {{post.author}}</p>
{# <p>{{post.année_de_sortie}}</p> #}
<p>Style de film:<br> {{post.category}}</p>
<p>Synopsis:<br>{{post.description}}</p>

        <div class="card-actions justify-end">
            <a class="btn btn-primary" href="{{path('app_update', {'id':post.id})}}">modifier</a> 
            <a class="btn btn-error" href="{{path('app_delete', {'id':post.id})}}">supprimer</a>
        </div>
    </div>
</div>

{% endblock %}